.game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: .5rem;
  }
  
.damage-disc {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin-top: 20px;
    cursor: grab;
}

.damage-disc:active {
    cursor: grabbing;
}
