.tile-stack {
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    --offset: 2%;
    --starting-left: 0%;
}

.cell .tile-stack {
    --starting-left: 10%;
}

.tile-stack.clickable {
    cursor: pointer;
}

.tile-stack > * {
    position: absolute;
}

.tile-stack > *:nth-child(1) { z-index: 1; top: 0; left: var(--starting-left); }
.tile-stack > *:nth-child(2) { z-index: 2; top: calc(var(--offset) * 1); left: calc(var(--starting-left) + var(--offset) * 1); }
.tile-stack > *:nth-child(3) { z-index: 3; top: calc(var(--offset) * 2); left: calc(var(--starting-left) + var(--offset) * 2); }
.tile-stack > *:nth-child(4) { z-index: 4; top: calc(var(--offset) * 3); left: calc(var(--starting-left) + var(--offset) * 3); }
.tile-stack > *:nth-child(5) { z-index: 5; top: calc(var(--offset) * 4); left: calc(var(--starting-left) + var(--offset) * 4); }
.tile-stack > *:nth-child(6) { z-index: 6; top: calc(var(--offset) * 5); left: calc(var(--starting-left) + var(--offset) * 5); }
.tile-stack > *:nth-child(7) { z-index: 7; top: calc(var(--offset) * 6); left: calc(var(--starting-left) + var(--offset) * 6); }
.tile-stack > *:nth-child(8) { z-index: 8; top: calc(var(--offset) * 7); left: calc(var(--starting-left) + var(--offset) * 7); }
.tile-stack > *:nth-child(9) { z-index: 9; top: calc(var(--offset) * 8); left: calc(var(--starting-left) + var(--offset) * 8); }
.tile-stack > *:nth-child(10) { z-index: 10; top: calc(var(--offset) * 9); left: calc(var(--starting-left) + var(--offset) * 9); }
