.tile {
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  user-select: none;
}

.tile[draggable] {
  cursor: move;
  cursor: grab;
}

.unit-tile {
  background-color: #ffe0e0;
}

.module-tile {
  background-color: #e0fff2;
}

.action-tile {
  background-color: #e2ebff;
}

.module-content,
.action-content {
  font-size: 0.9em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edge-attack {
  color: #fff;
}

.edge-attack-type,
.unit-attribute-symbol {
  color: rgba(0, 0, 0, .4);
}

.tile-label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8em;
}

.tile-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tile-top-left,
.tile-top-right {
  padding: 3px;
}

.tile-top-center {
  flex: 1;
}

.tile-top-center,
.tile-bottom {
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}

.tile-left,
.tile-right {
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}

.tile-middle {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tile-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-cover {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 10px, rgba(0, 0, 0, .0) 10px, rgba(0, 0, 0, .0) 20px);
}

.tile-cover-content {
  font-size: 1rem;
  font-weight: bold;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  --size: 24px;
  --small-size: var(--size);
  --big-size: 16px;
  --color: rgba(0, 0, 0, 1);
}

.triangle-narrow {
  --small-size: calc(var(--size) / 3);
  --big-size: calc(36px);
}

.triangle-up {
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: var(--small-size) solid transparent;
  border-right: var(--small-size) solid transparent;
  border-bottom: var(--big-size) solid var(--color);
}

.triangle-down {
  width: 0;
  height: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: var(--small-size) solid transparent;
  border-right: var(--small-size) solid transparent;
  border-top: var(--big-size) solid var(--color);
}

.triangle-left {
  width: 0;
  height: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top: var(--small-size) solid transparent;
  border-bottom: var(--small-size) solid transparent;
  border-right: var(--big-size) solid var(--color);
}

.triangle-right {
  width: 0;
  height: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top: var(--small-size) solid transparent;
  border-bottom: var(--small-size) solid transparent;
  border-left: var(--big-size) solid var(--color);
}

.rectangle {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  --size: 16px;
  width: var(--size);
  height: var(--size);
}

.rectangle-top {
  top: 0;
  left: 50%;
  height: var(--size);
  transform: translateX(-50%);
}

.rectangle-bottom {
  bottom: 0;
  left: 50%;
  height: var(--size);
  transform: translateX(-50%);
}

.rectangle-left {
  top: 50%;
  left: 0;
  width: var(--size);
  transform: translateY(-50%);
}

.rectangle-right {
  top: 50%;
  right: 0;
  width: var(--size);
  transform: translateY(-50%);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .25rem;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.with-tooltip {
  position: relative;
}

.with-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.dragged.with-tooltip .tooltip,
.dragged .with-tooltip .tooltip {
  visibility: hidden;
  opacity: 0;
}

.cell .tile {
  box-shadow: 1px 1px 4px #666;
}