
.tile {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  }

  .tile[draggable] {
    cursor: move;
    cursor: grab;
  }
  
  .unit-tile {
    background-color: #ffe0e0;
  }
  
  .module-tile {
    background-color: #e0fff2;
  }
  
  .action-tile {
    background-color: #e2ebff;
  }
  
  .module-content, .action-content {
    font-size: 0.9em;
  }

  .tile-label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
  }

  .tile-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tile-top-left, .tile-top-right {
    padding: 3px;
  }

  .tile-top-center {
    flex: 1;
  }

  .tile-top-center, .tile-bottom {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
  }

  .tile-left, .tile-right {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
  }

  .tile-middle {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}